<?xml version="1.0" encoding="UTF-8"?>
<configuration
    debug="false"
    xmlns="ch.qos.logback">
    
    <!--====================================================================================================
    = STATUS LISTENERS
    =====================================================================================================-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    
    <!--====================================================================================================
    = ROOT LOGGER
    =====================================================================================================-->
    <root level="warn"/>
</configuration>